
@{
    ViewData["Title"] = "Контакты";
}

<div class="container ">
    <div class="row" style="transform:translateX(250px) ;">
        <div class="col-5 ">
            <div class="row text-center" style="border-bottom: 2px solid black;">
                <div class="col">
                    <b>Контакти</b>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Связатся с автором можно следующим способом:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-phone Item">
                            Номер телефона: +380630118563
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-envelope Item">
                            Email: rekrut020@gmail.com
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-paper-plane Item">
                            <a href="https://t.me/PunkRoy">Телеграм</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col Item">
                            <a href="/Messages/Message?actionstate=2" class="btn btn-info">Форма на сайте</a>
                        </div>
                        <div class="col">
                            <a href="/Home/Index" class="btn btn-primary" style="transform: translate(114px,10px);">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    .Item {
        margin-top: 10px;
    }
</style>